
body{
    font-family:"Helvetica";
}

h1{
    font-size:30px;
    color:#C44500;
}

#logodiv{
    height:10%;
}

#menubar{
    background-color:#C44500;
    height:50px;
    width:inherit;
}

.menuitem{
    float:right;
    display:inline-block;
    color: white;
    width:80px;
    height:inherit;
    font-size: 20px;
    vertical-align:middle;
}

#searchpane{
    margin-top:120px;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    display: block;
    background-color:#DED8D5;
    border: 1px solid grey;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

input{
    width:280px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display:inline-block;
}

#submit{
    width:30px;
    height:30px;
    display:inline-block;
    vertical-align:middle;
    background-image: url("media/search.icon.png");
}

#fields{
    display:block;
    width:480px;
    margin-left:auto;
    margin-top:20px;
}

#showResults{
    width:700px;
    height:200px;
    margin-left:auto;
    margin-right:auto;
}

.pdfElement{
    width:120px;
    background-color:red;
    padding:10px;
    margin: 80px;
    display: block;
}

.pdfElement>a{
    display:block;
    color:black;
    margin-top: 5px;
}

embed{
    width:80px;
    height:100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;

}